# Hyperledger Fabric generated artifacts
blockchain-network/fabric-samples/
organizations/
system-genesis-block/
channel-artifacts/

*.block
*.tx

# Fabric logs
*.log

# Docker volumes
compose_*

# Certificates
*.pem
*.key
*.crt
*.csr

# Node
node_modules/

# Java
build/
.gradle/
*.class
*.jar

# React
frontend-ui/build/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db